:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;     
  min-height: 100vh;  
  overflow-x: hidden; 
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}